/* design du container de toute l'activté de dessin */

.drawing-activity-name-titre {
  font-size: 60px;
  margin-bottom: 5px;
  color: #00C4CC;
  font-weight: bold;
}

.drawing-activity-name {
  min-height: 50px;
  background-color: #fff;
  padding: 5px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 30px;
}

.drawing-activity-title {
  display: flex;
  flex-direction: line;
  justify-content: center; /* Espace entre les éléments */
  align-items: center; /* Centrer horizontalement */
  min-height: 100px; /* Hauteur minimale de 500 pixels */
  background-color: #f0f0f0; /* Couleur de fond gris clair */
  text-align: center;
  margin-top: 0px;
  position: relative;
}


.left-column {
  min-height: 200px;
  background-color: #b2dbe0;
  padding: 20px;
  text-align: center;
  margin-top: 500px;
  margin-right: 20px; /* Ajout de marge à droite */
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  box-sizing: border-box;
  max-width: 1000px;
  margin: 0 auto; /* Combinaison de la marge supérieure et de la centrage horizontal */
}
/* design titre section droite (webcam ) et gauche (image) */
.left-text{
  margin-bottom: 10px;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  
  color: #004AAD;
}

.phrase-display{
  margin-bottom: 20px;
  font-size: 50px;
  text-align: center;

}

.button-container {
  padding: 10px 20px; /* Réduction du padding */
  margin: 10px auto; /* Centrer horizontalement */
  text-align: center; /* Centrer le contenu horizontalement */

}

#startButton, #finishButton ,#nextButton, #repeatButton {
  padding: 10px 20px; /* Réduction du padding */
  font-size: 30px; /* Réduction de la taille de la police */
  cursor: pointer;
  border: none;
  border-radius: 5px;
  color: #fff;
  background-color: #00C4CC;
  margin-right: 10px; /* Marge entre les boutons */
  font-weight: bold;
}


#rectangle {
  width  : 100px;
  height : 50px;
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
}
.h1 {
  color: #333;
}

.drawing-activity-resultats {
  min-height: 400px;
  background-color: #E4F8F8;
  padding: 20px;
  text-align: center;
  margin-top: 50px;
}

.drawing-activity-resultats-title {
  font-size: 40px;
  margin-bottom: 20px;
  font-weight: bold;
}

/* Style pour les barres de progression */
.progress-container {
  display: flex; /* Utiliser flexbox pour aligner les éléments */
  justify-content: center; /* Centrer horizontalement les éléments */
  align-items: center; /* Centrer verticalement les éléments */
  margin-top: 10px; /* Espacement par rapport aux autres éléments */
}

.progress-bar {
  width: 400px; /* Largeur de la barre de progression */
  height: 40px; /* Hauteur de la barre de progression */
  border-radius: 5px; /* Coins arrondis */
  background-color: #00BF63; /* Couleur de fond de la barre de progression */
  margin-left: 40px; /* Marge à gauche */
  margin-right: 40px; /* Marge à droite */
}

.progress-label {
  font-size: 40px;
  margin-bottom: 10px;
  font-weight: bold;
  color:#00BF63 ;
}

.progress-message {
  margin-top: 0px; /* Ajoute une marge en haut de la div */
  font-size: 40px;
  font-weight: bold; /* Met en gras le texte */
  color: #00BF63;
}
