.sectionname {
  min-height: 30px;
  background-color: #fff;
  padding: 5px;
  margin-top: 50px;
  display: flex;
  justify-content: space-between; /* Espace les éléments pour mettre la maison à droite */
  align-items: center;
  margin-left: 30px;
  margin-bottom: 0px;
}

.titre2 {
  font-size: 20px;
  margin-bottom: 0;
  color: black;
  font-weight: bold;
  margin-right: 10px; /* Augmentez l'espace entre le titre et le logo */
  text-decoration: none; /* Désactiver le soulignement */
  
}

.titre {
  font-size: 60px;
  margin-bottom: 0;
  color: #00C4CC;
  font-weight: bold;
  margin-right: 80px; /* Espace entre le titre et le logo */
  flex-grow: 1; /* Permet au texte de prendre tout l'espace disponible */
  text-decoration: none; /* Désactiver le soulignement */
}

.logo {
  flex-shrink: 0; /* Empêche le logo de rétrécir */
  margin-left: 0px; /* Espace entre le logo et le titre */
}



.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 751px;
}

.u-section-1 .u-text-1 {
  margin: 77px auto 0;
}

.u-section-1 .u-text-2 {
  width: 746px;
  margin: 17px auto 0;
}

.u-section-1 .u-gallery-1 {
  height: 423px;
  margin-top: 49px;
  margin-bottom: 60px;
  grid-gap: 17px;
}

.u-section-1 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 17px;
}

.u-section-1 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 675px;
  }

  .u-section-1 .u-gallery-1 {
    height: 347px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1153px;
  }

  .u-section-1 .u-text-2 {
    width: 720px;
  }

  .u-section-1 .u-gallery-1 {
    height: 825px;
  }

  .u-section-1 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2204px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }

  .u-section-1 .u-gallery-1 {
    height: 1896px;
  }

  .u-section-1 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1508px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }

  .u-section-1 .u-gallery-1 {
    height: 1206px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 501px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 59px auto 0;
}

.u-section-2 .u-form-1 {
  width: 570px;
  margin: 29px auto 59px;
}

@media (max-width: 767px) {
  .u-section-2 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-form-1 {
    width: 340px;
  }
}